name: Create release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag'
        required: true
        default: 'v2.'
        type: string

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Create release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create \
          ${{ github.event.inputs.tag }} \
          "brd-manager-script.bat" \
          --title "${{ github.event.inputs.tag }}" \
          --notes "Released on $(TZ='Asia/Dhaka' date +'%Y%m%d_%H%M') (UTC +06)" \
          